$color1: hsl(180, 66%, 49%);
$color2: hsl(257, 27%, 26%);
$color3: hsl(0, 87%, 67%);
$color4: hsl(0, 0%, 75%);
$color5: hsl(257, 7%, 63%);
$color6: hsl(255, 11%, 22%);
$color7: hsl(260, 8%, 14%);
$color8: hsl(0, 0%, 100%);
$color9: hsl(0, 0%, 92%);

$buttonHover: hsl(180, 66%, 75%);